$base-color: #191919;
$bg-color: #F1E8B8;
$bg-darker-color:   #f9e7841c;
$alert-color: #E58F65;
$alert-darker-color: #F17F46;
$logo-color: #D05353;
$white-color: #ffff;
$transparent-black-color: rgba(0, 0, 0, 0.7);