@import '../../styles/colors';

.section_not-found {
    height: 85vh;
    background-image: url("../../assets/pictures/page_lost.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.section_not-found_box,
.section_not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_not-found_box {
    background-color: $transparent-black-color;
    padding: 2em;
    border-radius: 0.25em;
}

.section_not-found_body, 
.section_not-found_title {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: $white-color;
    text-align: center;
}

.section_not-found_title {
    font-size: 2em;
}

.section_not-found_body {
    font-size: 1.25em;
}
